{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Ignored Email Addresses" %}{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:system_settings' %}">{% trans "System Settings" %}</a>
</li>
<li class="breadcrumb-item active">
    Ignored Email Addresses
</li>
{% endblock %}

{% block helpdesk_body %}{% blocktrans %}
<h2>Ignored Email Addresses</h2>

<p>The following email addresses are currently being ignored.
    If "ignore imports" is checked, emails received from these addresses will not create new tickets or followups on existing tickets when imported.
    If "prevent sending" is checked, when these addresses are copied on Helpdesk tickets, no emails will be sent to them.
    This only affects mail sent from Helpdesk, not from BEAM.
    You can add a new item or delete any of the items below as needed.</p>{% endblocktrans %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <i class="fas fa-table mr-1"></i>
                {% trans "Ignored Email Address List" %}
                <div class="flex-fill d-flex justify-content-end">
                    <a href='add/'>
                        <button class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> {% trans "Add an Email" %}
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center align-middle">{% trans "Name" %}</th>
                                <th class="text-center align-middle">{% trans "Email Address" %}</th>
                                <th class="text-center align-middle">{% trans "Date Added" %}</th>
                                <th class="text-center align-middle">{% trans "Date Modified" %}</th>
                                <th class="text-center align-middle">{% trans "Queues" %}</th>
                                <th class="text-center align-middle">{% trans "Keep in Mailbox" %}</th>
                                <th class="text-center align-middle">{% trans "Ignore Imports" %}</th>
                                <th class="text-center align-middle">{% trans "Prevent Sending" %}</th>
                                <th class="text-center align-middle">{% trans "Edit" %}</th>
                                <th class="text-center align-middle">{% trans "Remove" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ignore in ignore_list %}
                            <tr>
                                <td class="text-center align-middle">{{ ignore.name }}</td>
                                <td class="text-center align-middle">{{ ignore.email_address }}</td>
                                <td class="text-center align-middle">{{ ignore.date }}</td>
                                <td class="text-center align-middle">{{ ignore.modified }}</td>
                                <td class="text-center align-middle">{{ ignore.queues.all|join:", "}}</td>
                                <td class="text-center align-middle">
                                    {% if ignore.keep_in_mailbox %}
                                    <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    {% if ignore.ignore_import %}
                                    <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    {% if ignore.prevent_send %}
                                    <i class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle"><a href='{% url 'helpdesk:email_ignore_edit' ignore.id %}'><button class="btn btn-warning btn-sm"><i class="fa fa-pen"></i></button></a></td>
                                <td class="text-center align-middle"><a href='{% url 'helpdesk:email_ignore_del' ignore.id %}'><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<p>{% trans "<strong>Note:</strong> If the 'Keep' option is not selected, emails sent from that address will be deleted permanently." %}</p>

{% endblock %}
