{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Delete Tag" %}{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:system_settings' %}">{% trans "System Settings" %}</a>
</li>
<li class="breadcrumb-item active">
    <a href="{% url 'helpdesk:tag_list' %}">{% trans "Tags" %}</a>
</li>
<li class="breadcrumb-item active">{% trans "Delete Tag" %}</li>
{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "Delete Tag" %}</h2>

<p>Are you sure you wish to delete this tag (<em>{{ tag.name }}</em>)?
    Deleting will remove it from all tickets.</p>

<div class="d-flex">
    <form method='post' action='./'>
        <button class="btn btn-danger mr-2" type='submit'>{% trans "Delete Tag" %}</button>
    {% csrf_token %}</form>
    <br/>
    <a href='../../'><button class="btn btn-secondary">{% trans "Cancel" %}</button></a>
</div>

{% endblock %}
