{% extends "helpdesk/base.html" %}

{% load i18n bootstrap4form %}

{% block helpdesk_title %}{% trans "Add Ticket CC" %}{% endblock %}

{% block helpdesk_breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}">{% trans "Tickets" %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}{{ ticket.id }}/">{{ ticket.queue.slug }}-{{ ticket.id }}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:ticket_cc' ticket.id %}">{% trans "CC Settings" %}</a>
    </li>
    <li class="breadcrumb-item active">{% trans "Add CC" %}</li>
{% endblock %}

{% block helpdesk_body %}
    <h2>{% trans 'Add Ticket CC' %}</h2>
    <p>
        {% trans 'To automatically send an email to a user or e-mail address when this ticket is updated, select a user or enter an e-mail address below.' %}
    </p>
    
    <div>
        {% if form.errors %}
            {% for field, errors in form.errors.items%}
            <div class="alert alert-danger alert-dismissible" role="alert">
                {{ field|capfirst }}: {{ errors|join:", " }} 
            </div>
            {% endfor %}
        {% endif %}

        <form method='post'>
            {% csrf_token %}
            <fieldset>
                <dl>
                    {{ form|bootstrap4form}}
                </dl>
            </fieldset>
            <button class="btn btn-primary" type='submit'>{% trans "Add Recipient" %}</button>
            <a href="{% url 'helpdesk:ticket_cc' ticket.id %}" class="btn btn-secondary">
                {% trans "Cancel" %}
            </a>
        </form>
    </div>

<script>
$('[id="id_user"]').on('change', (e) => {
    if (e.currentTarget.value) {
        $('[id="id_email"]').attr('disabled', true)
    } else {
        $('[id="id_email"]').attr('disabled', false)
    }
})
</script>
{% endblock %}

