{% extends "helpdesk/base.html" %}

{% load i18n bootstrap4form %}

{% block helpdesk_title %}{% trans "Add Ticket CC" %}{% endblock %}

{% block helpdesk_breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}">{% trans "Tickets" %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}{{ ticket.id }}/">{{ ticket.queue.slug }}-{{ ticket.id }}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:ticket_cc' ticket.id %}">{% trans "CC Settings" %}</a>
    </li>
    <li class="breadcrumb-item active">{% trans "Add CC" %}</li>
{% endblock %}

{% block helpdesk_body %}
    <h2>{% trans 'Add Ticket CC' %}</h2>
    <p>
        {% trans 'To automatically send an email to a user or e-mail address when this ticket is updated, select the user or enter an e-mail address below.' %}
    </p>
    <div class="card mb-3">
        <div class="card-header">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link{% if not form.errors.user %} active{% endif %}" href="#EmailCC" data-toggle="tab">
                        {% trans 'Non-User Email' %}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="nav-item">
                    <a class="nav-link{% if form.errors.user %} active{% endif %}" href="#UserCC" data-toggle="tab">
                        {% trans 'User' %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">

            {% if form.errors %}
                {% for field, errors in form.errors.items%}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ field|capfirst }}: {{ errors|join:", " }} 
                </div>
                {% endfor %}
            {% endif %}

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane{% if not form.errors.user %} in active{% endif %}" id="EmailCC">
                    <h4>{% trans 'Add Non-User Email' %}</h4>
                    <form method='post'>
                        {% csrf_token %}
                        <fieldset>
                            <dl>
                                {{ form_email|bootstrap4form}}
                            </dl>
                        </fieldset>
                        <button class="btn btn-primary" type='submit'>{% trans "Add Recipient" %}</button>
                    <a href="{% url 'helpdesk:ticket_cc' ticket.id %}" class="btn btn-secondary">
                        {% trans "Cancel" %}
                    </a>
                    </form>
                </div>
                <div class="tab-pane{% if form.errors.user %} in active{% endif %}" id="UserCC">
                    <h4>{% trans 'Add User' %}</h4>
                    <form method='post'>
                        {% csrf_token %}
                        <fieldset>
                            <dl>
                                {{ form_user|bootstrap4form}}
                            </dl>
                        </fieldset>
                        <button class="btn btn-primary" type='submit'>{% trans "Add Recipient" %}</button>
                        <a href="{% url 'helpdesk:ticket_cc' ticket.id %}" class="btn btn-secondary">
                            {% trans "Cancel" %}
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
{% endblock %}
