{% extends "helpdesk/base.html" %}

{% load i18n helpdesk_staff %}

{% block helpdesk_title %}{% trans "Ticket CC Settings" %}{% endblock %}

{% block helpdesk_breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}">{% trans "Tickets" %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'helpdesk:list' %}{{ ticket.id }}/">{{ ticket.queue.slug }}-{{ ticket.id }}</a>
    </li>
    <li class="breadcrumb-item active">{% trans "CC Settings" %}</li>
{% endblock %}

{% block helpdesk_body %}{% blocktrans with ticket.title as ticket_title and ticket.id as ticket_id %}
<h2>Ticket CC Settings</h2>

<p>The following people will receive an e-mail whenever <em><a href='../'>{{ ticket_title }}</a></em> is updated. Some people can also view or edit the ticket via the public ticket views.</p>

<p>You can add a new recipient to the list or delete any of the items below as required.</p>{% endblocktrans %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Ticket CC List" %}
                </div>
                <!-- /.panel-heading -->
                <div class="card-body p-0">
                    {% if copies_to %}
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover mb-0">
                            <thead class="thead bg-light">
                                <tr>
                                    <th>{% trans "E-Mail Address or Helpdesk User" %}</th>
                                    <th class="text-center">{% trans "View" %}</th>
                                    <th class="text-center">{% trans "Update" %}</th>
                                    <th class="text-center">{% trans "Staff" %}</th>
                                    <th class="text-center">{% trans "Remove" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in copies_to %}
                                    <tr class='row_{% cycle 'odd' 'even' %}'>
                                        <td class="align-middle">{{ person.display }}</td>
                                        <td class="text-center align-middle">
                                            {% if person.can_view %}
                                                <i class="fa fa-check-circle text-success"></i>
                                            {% else %}
                                                <i class="fa fa-times-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center align-middle">
                                            {% if person.can_update %}
                                                <i class="fa fa-check-circle text-success"></i>
                                            {% else %}
                                                <i class="fa fa-times-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center align-middle">
                                            {% if person.user|is_helpdesk_staff %}
                                                <i class="fa fa-check-circle text-success"></i>
                                            {% else %}
                                                <i class="fa fa-times-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center align-middle">
                                            <a href='{% url 'helpdesk:ticket_cc_del' ticket.id person.id %}'>
                                                <button class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <p class="text-center m-2"> No CC recipients for this ticket, <a href='add/'>add one</a>!</p>
                    {% endif %}
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
                <div class="card-footer d-flex justify-content-end">
                    <div><a href='add/'><button class="btn btn-primary btn-sm"><i class="fa fa-plus mr-1"></i>{% trans "Add CC Recipient" %}</button></a></div>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="mt-2">
        <a href='{% url 'helpdesk:view' ticket.id %}'>
            <button class="btn btn-secondary">
                {% blocktrans with ticket.title as ticket_title %}Return to <em>{{ ticket_title }}</em>{% endblocktrans %}
            </button>
        </a>
    </div>

{% endblock %}
