<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button id="{{ widget.name}}_upload" type="button" class="btn btn-secondary">Upload</button>
    </div>
    <input type="text" class="form-control" disabled id="{{widget.name}}_text" value="{{widget.value}}">
    <div class="input-group-append" id="{{ widget.name }}_interact" style="display:none;">
        <button id="{{widget.name}}_delete" type="button" class="btn btn-danger">Remove</button>
    </div>
</div>
<div><input type="file" hidden id="id_{{ widget.name}}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}></div>
<script>
    $('#{{widget.name}}_upload').on('click', function() {
        $('#id_{{ widget.name }}').click()
    });

    $('#id_{{widget.name}}').on('change', function() {
        src_input = document.getElementById('id_{{widget.name}}');
        filenames = src_input.files[0].name
        if (src_input.files.length > 1) {
            filenames += ` ( + ${src_input.files.length - 1} files)`
        }
        $('#{{ widget.name }}_text').val(filenames);
        $('#{{ widget.name }}_interact').toggle();
    });

    $('#{{widget.name}}_delete').on('click', function() {
        $('#id_{{widget.name}}').val('');
        $('#{{widget.name}}_text').val('None');
        $('#{{ widget.name }}_interact').toggle();
    });
</script>